MYSQL_ROOT_PASSWORD= {{ MYSQL_ROOT_PASSWORD }}
MYSQL_PASSWORD= {{ MYSQL_PASSWORD }}
WP_ADMIN_PASSWORD= {{ WP_ADMIN_PASSWORD }}
WP_REGULAR_PASSWORD= {{ WP_REGULAR_PASSWORD }}
MYSQL_DATABASE= {{ MYSQL_DATABASE }}
MYSQL_USER= {{ MYSQL_USER }}

WP_URL= {{ WP_URL }}
WP_TITLE= {{ WP_TITLE }}
WP_ADMIN_USER= {{ WP_ADMIN_USER }}

WP_ADMIN_EMAIL= {{ WP_ADMIN_EMAIL }}
WP_REGULAR_USER= {{ WP_REGULAR_USER }}
WP_REGULAR_EMAIL= {{ WP_REGULAR_EMAIL }}
