# Database
MYSQL_MARIADB_ROOT_PASSWORD={{ mysql_MARIADB_ROOT_PASSWORD }}
MYSQL_USER={{ mysql_user }}
MYSQL_PASSWORD={{ mysql_password }}
MYSQL_DATABASE={{ mysql_database }}

# WordPress
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER={{ mysql_user }}
WORDPRESS_DB_PASSWORD={{ mysql_password }}
WORDPRESS_DB_NAME={{ mysql_database }}

# phpMyAdmin
PMA_HOST=db
PMA_USER={{ mysql_user }}
PMA_PASSWORD={{ mysql_password }}