# Database
ROOT_PASSWORD={{ ROOT_PASSWORD }}
USER={{ USER }}
USER_PASSWORD={{ USER_PASSWORD }}
DATABASE={{ DATABASE }}

IP={{ IP }}
TITLE={{ TITLE }}
ADMIN_USER={{ ADMIN_USER }}
ADMIN_PASS={{ ADMIN_PASS }}
ADMIN_EMAIL={{ ADMIN_EMAIL }}

SP_USER={{ SP_USER }}
SP_EMAIL={{ SP_EMAIL }}
SP_PASS={{ SP_PASS }}